h1 {
    margin: 5px;
    border: 5px;
    padding: 5px;
    background-color: rgb(16, 231, 45);
    color:rgb(21, 59, 92);
    font: size 100px; font-family:
    'Times New Roman'
    , Times, serif; font-weight:900;
       font-style:italic;
       border: 2px solid black }